NLSE/__pycache__/__init__.cpython-310.pyc
NLSE/__pycache__/kernels_cpu.cpython-310.pyc
NLSE/__pycache__/kernels_cpu.nl_prop_without_V_c-34.py310.1.nbc
NLSE/__pycache__/kernels_cpu.nl_prop_without_V_c-34.py310.nbi
NLSE/__pycache__/kernels_cpu.nl_prop_without_V_c-98.py310.1.nbc
NLSE/__pycache__/kernels_cpu.nl_prop_without_V_c-98.py310.nbi
NLSE/__pycache__/kernels_cpu.nl_prop-5.py310.1.nbc
NLSE/__pycache__/kernels_cpu.nl_prop-5.py310.2.nbc
NLSE/__pycache__/kernels_cpu.nl_prop-5.py310.nbi
NLSE/__pycache__/nlse.cpython-310.pyc
__pycache__/kernels_cpu.cpython-310.pyc
__pycache__/kernels_cpu.nl_prop_without_V_c-34.py310.1.nbc
__pycache__/kernels_cpu.nl_prop_without_V_c-34.py310.nbi
__pycache__/kernels_cpu.nl_prop_without_V-89.py310.1.nbc
__pycache__/kernels_cpu.nl_prop_without_V-89.py310.nbi
__pycache__/kernels_cpu.nl_prop-54.py310.1.nbc
__pycache__/kernels_cpu.nl_prop-54.py310.nbi
__pycache__/kernels_gpu.cpython-310.pyc
.vscode/settings.json
tests/__pycache__/nonlocality.cpython-310.pyc
tests/__pycache__/oned_coupled.cpython-310.pyc
tests/__pycache__/oned_uncoupled.cpython-310.pyc
tests/__pycache__/twod_coupled.cpython-310.pyc
tests/__pycache__/twod_gpe.cpython-310.pyc
tests/__pycache__/twod_uncoupled.cpython-310.pyc
NLSE/fft.wisdom
tex/benchmarks.pdf
tex/output.png
tex/paper.aux
tex/paper.bbl
tex/paper.bib
tex/paper.blg
tex/paper.fdb_latexmk
tex/paper.fls
tex/paper.log
tex/paper.pdf
tex/paper.synctex.gz
tex/paper.tex
tex/paperNotes.bib
.DS_Store
fft.wisdom
build/lib/NLSE/__init__.py
build/lib/NLSE/kernels_cpu.py
build/lib/NLSE/kernels_gpu.py
build/lib/NLSE/nlse.py
NLSE.egg-info/dependency_links.txt
NLSE.egg-info/PKG-INFO
NLSE.egg-info/requires.txt
NLSE.egg-info/SOURCES.txt
NLSE.egg-info/top_level.txt
build/lib/NLSE/cnlse_1d.py
build/lib/NLSE/cnlse.py
build/lib/NLSE/gpe.py
build/lib/NLSE/nlse_1d.py
build/lib/NLSE/utils.py
tests/__pycache__/test_cnles_1d.cpython-310.pyc
tests/__pycache__/test_cnlse.cpython-310.pyc
tests/__pycache__/test_gpe.cpython-310.pyc
tests/__pycache__/test_nlse_1d.cpython-310.pyc
tests/__pycache__/test_nlse.cpython-310.pyc
tests/__pycache__/test_nonlocality.cpython-310.pyc
tests/__pycache__/test_broadcasting.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_cnles_1d.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_cnlse.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_gpe.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_nlse_1d.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_nlse.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_nonlocality.cpython-310-pytest-8.1.1.pyc
img/inheritance_graph.svg
tests/__pycache__/test_cnlse_1d.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_cnlse_1d.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_cnlse_1d.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_cnlse_1d.cpython-310-pytest-8.1.1.pyc
tests/__pycache__/test_cnlse_1d.cpython-310-pytest-8.1.1.pyc
build/lib/NLSE/nlse_3d.py
tests/__pycache__/test_cnlse_1d.cpython-310-pytest-8.1.1.pyc
# mkdocs-documentation/site